{% extends 'base/base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Satisfactory
{% endblock %}

{% block body %}

	<div {{ react_component('SatisfactoryPlan', { blocks: blocks } ) }}>
		<twig:ux:icon name="line-md:loading-loop" class="w-10"/>
	</div>

{% endblock %}
