{% extends 'base/base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Satisfactory
{% endblock %}

{% block body %}

	{% set blocks = [
        {
            title: 'Test 1',
			description: 'This is a test description',
			author: 'Globnot',
			rating:  4.5,
			createdAt: '2021-01-01',
			updatedAt: '2021-01-01',
			comments:
			[
				'super commentaire',
				'commentaire de test',
			],
			downloadUrlSbp: 'https://www.google.com',
			downloadUrlSbpcfg: 'https://www.google.com',
			downloadCount: 10,	
            images: 
			[
                asset('build/images/test1.png'),
                asset('build/images/test1.png'),
           ],
        },
        {
            title: 'Test 1',
			description: 'This is a test description',
			author: 'Globnot',
			rating:  4.5,
			createdAt: '2021-01-01',
			updatedAt: '2021-01-01',
			comments:
			[
				'super commentaire',
				'commentaire de test',
			],
			downloadUrlSbp: 'https://www.google.com',
			downloadUrlSbpcfg: 'https://www.google.com',
			downloadCount: 10,	
            images: 
			[
                asset('build/images/test1.png'),
                asset('build/images/test1.png'),
           ],
        },
        
    ] %}

	<div {{ react_component('SatisfactoryPlan', { blocks } ) }}>
		<twig:ux:icon name="line-md:loading-loop" class="w-10"/>
	</div>

{% endblock %}

{# Author, rating, date de cration, date de modification, comment, download, downloadcount #}
