{% extends 'base/base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Contact
{% endblock %}

{% block body %}

	{% include 'partials/_header.html.twig' with {'title': 'Contact Us', 'description': 'You can contact us directly via social networks.'} %}

	<div class="p-12 mx-auto mt-12 border rounded-lg bg-bg dark:bg-darkBg">
		{% include 'contact/components/_socials.html.twig' %}
	</div>

{% endblock %}
